{% extends 'base.html' %}

{% load static %}

{% block agendar %}

<div class="grid-container">
  <div class="sidebar">
    <div class="sidenav">
      <a href=#>#</a>
      <a href="{% url 'app_proyecto_medico:privada' %}">Perfil</a>
      <a href="{% url 'app_proyecto_medico:examenes' %}">Examen</a>
      <a href="{% url 'app_proyecto_medico:agendar' %}">Agendar</a>
      <a href="{% url 'app_proyecto_medico:graficos' %}">Estadisticas</a>
    </div>
  </div>

  <div class="contenido">
  </div>
</div>

{% endblock %}