{% extends 'base.html' %}


{% block crear_ver_lista %}
<li class="nav-item dropdown">
    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
        aria-expanded="false">Datos Paciente<span class="caret"></span></a>
    <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item scroll-trigger" href="{% url 'app_proyecto_medico:lista_paciente' %}">Lista
            Pacientes</a>
        <a class="dropdown-item scroll-trigger" href="{% url 'app_proyecto_medico:crear_paciente' %}">Crear Paciente</a>
    </div>
</li>
{% endblock %}

{% block crear_paciente %}
<hr>
<hr>
<hr>
<hr>
<h1>Pagina Crear Pacientes</h1>

<form action="" method="POST" novalidate>
    {% csrf_token %}
    <table>
        {{formulario.as_table}}
    </table>
    <input type="hidden" name="elemento" value="paciente">
    <input type="submit" value="Crear">
</form>

<hr>

<div class="container-fluid bg-dark" id="lista-pacientes">
    <div class="row">
        <h3>Listado de pacientes actuales</h3>
    </div>
    <div class="row">
        {% for paciente in lista_paciente %}
        <div class="col-md-6 col-lg-3">
            <div class="card">
                <h3 class="card-header">Ficha Paciente {{formulario.identificador}}</h3>
                <div class="card-body">
                    <p class="card-title">Nombre :{{paciente.nombre}}</p>
                    <p class="card-text">Sexo :{{paciente.sexo}}</p>
                    <p class="card-text">Edad :{{paciente.edad}}</p>
                    <p class="card-text">Fecha de Nacimiento :{{paciente.fecha_nacimiento}}</p>
                </div>
                <hr>
                <hr>
                <hr>
                <hr>
                <hr>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}