    /*
Awakelab
Full Stack Python 2020
*/

    .bg-principal {
        padding: 100px;
    }

    .navbar {
        font-weight: bold;
        font-size: 19px;
    }

    .navbar-dark {
        background-color: rgb(0, 0, 0);
        margin: 1px;
        padding: 8px;
    }

    .bg-principal {
        background-image: url('../img/auditoria.jpg');
        background-size: 200px;
    }

    .jumbotron {
        color: white;
        background: rgb(0, 0, 0);
        /* Para navegadores antiguos */
        background: rgba(0, 0, 0, 0.5);
    }

    .media {
        margin: 20px 5% 50px 10%;
    }

    footer {
        font-family: 'Bebas Neue';
        text-align: center;
        font-weight: bold;
    }

    .grid-privada {
        display: grid;
        grid-template-columns: 0.3fr 1.7fr;
        grid-template-rows: 0.2fr 1.8fr;
        gap: 60px 0px;
        grid-template-areas: ". ." "sidebar contenido";
    }

    .sidebar {
        grid-area: sidebar;
    }

    .contenido {
        grid-area: contenido;
    }

